<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">COMPRAS</h5>

            <ul class="list-unstyled mb-0">
                <li>
                <a href="#!" class="text-white">Devoluciones</a>
                </li>
                <li>
                <a href="#!" class="text-white">Tiendas</a>
                </li>
                <li>
                <a href="#!" class="text-white">Revendedores</a>
                </li>
                <li>
                <a href="#!" class="text-white">Promociones</a>
                </li>
            </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">HERRAMIENTAS</h5>
            <ul class="list-unstyled mb-0">
                <li>
                <a href="#!" class="text-white">Spochi Pay</a>
                </li>
                <li>
                <a href="#!" class="text-white">Suscripciones</a>
                </li>
                <li>
                <a href="#!" class="text-white">Beneficios</a>
                </li>
                <li>
                <a href="#!" class="text-white">Asociados</a>
                </li>
            </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">ACERCA DE</h5>

            <ul class="list-unstyled mb-0">
                <li>
                <a href="#!" class="text-white">Metas</a>
                </li>
                <li>
                <a href="#!" class="text-white">Objetivos</a>
                </li>
                <li>
                <a href="#!" class="text-white">Mapa del sitio</a>
                </li>
                <li>
                <a href="#!" class="text-white">Inversionistas</a>
                </li>
            </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">CONTACTO</h5>

            <ul class="list-unstyled mb-0">
                <li>
                <a href="#!" class="text-white">Oficinas</a>
                </li>
                <li>
                <a href="#!" class="text-white">Teléfonos</a>
                </li>
                <li>
                <a href="#!" class="text-white">Correo</a>
                </li>
                <li>
                <a href="#!" class="text-white">Redes Sociales</a>
                </li>
            </ul>
            </div>
        </div>
        </section>
    </div>
</footer>